<table>
		{{#each date in controller}}
			<tr id="year">
				<td>{{date.year}}</td>
			</tr>
			<tr>
				<td id="prev-month"> Prev </td>
				<td id="month">{{date.month}}</td>
				<td id="next-month"> Next </td>
			</tr>
			
			<tr id="days-of-week">
				{{#each date.daysName}}
					<td>{{this}}</td>
				{{/each}}
			</tr>

		{{/each}}

	<tbody>

	{{#each date in controller}}
		{{#each date.formattedWeeks}}
	  	<tr>
	  		{{#each this}}
	  			<td>{{this}}</td>
	  		{{/each}}
	  	</tr>
	  	{{/each}}
	{{/each}}

	{{!--}}
	{{#each date in controller}} 
	  {{#each date.formattedWeeks}}
	    <tr>
	      {{#each this}}
	          <td>{{this}}</td>
	      {{/each}}
	    </tr>
	  {{/each}}
	{{/each}}
	{{--}}

	</tbody>	
</table>
